/*

!/src
!/bin

!/.config
/.config/*
!/.config/docker

!/services
/services/.additional
!/services/.additional/README.md
services/webhook-handler

!/configs

!/secrets
/secrets/*
!/secrets/README.md

!/data
/data/*
!/data/README.md

/services/*/data

!/.bashrc
!/.bash_profile
!/.gitignore
!/README.md
!/SETUP.md
