/*

!/src
!/bin

!/.config
/.config/*
!/.config/docker

!/services
/services/*
!/services/.additional/README.md
!/services/cocoda
!/services/jskos-server
!/services/login-server
!/services/mongo
!/services/nginx
!/services/*.json

!/configs

/services/*/data

!/.bashrc
!/.gitignore
!/README.md
