services:
  bartoc-next:
    image: ghcr.io/gbv/bartoc.org:main
    networks:
      - nginx
      - mongo-prod
    volumes:
      - $CONFIGS/bartoc-next:/config:ro
      - $DATA/bartoc/dumps:/usr/src/app/bartoc/data/dumps:ro
      - $DATA/bartoc-next/reports:/usr/src/app/bartoc/data/reports
    environment:
      - BASE_URL=https://next.bartoc.org/
      - |
        VIRTUAL_HOST_MULTIPORTS=
          next.bartoc.org:
            "/":
              port: 80
              dest: "/"
            "/api/":
              port: 3000
              dest: "/"
    restart: unless-stopped
    extra_hosts:
      - "next.bartoc.org:172.18.0.19"

networks:
  nginx:
    external: true
    name: nginx
  mongo-prod:
    external: true
    name: mongo-prod
