services:
  bartoc-search-dev:
    image: ghcr.io/gbv/bartoc-search:dev
    container_name: bartoc-search-dev
    networks:
      - nginx
      - solr-dev
      - redis-dev
    ports:
      - "3883:3883"     # HTTP
    volumes:
      - $CONFIGS/bartoc-search-dev:/config:ro
    environment:
      - VIRTUAL_PATH=/vocabularies/
      - __VITE_ADDITIONAL_SERVER_ALLOWED_HOSTS=.bartoc.org
      - CONFIG_FILE=/config/config.json
      - NODE_ENV=production
      - DATA_DIR=/usr/src/app/data
      - BARTOC_SEARCH_ENABLE_WORKERS=true
      - BARTOC_DUMP=https://bartoc.org/data/dumps/latest.ndjson
      - |
        VIRTUAL_HOST_MULTIPORTS=
          dev.bartoc.org:
            "/vocabularies/":
              port: 3883
              dest: "/"
    restart: unless-stopped

networks:
  nginx:
    external: true
    name: nginx
  solr-dev:
    external: true
    name: solr-dev
  redis-dev:
    external: true
    name: redis-dev
