version: "3"
services:
  website:
    image: ghcr.io/gbv/coli-conc.gbv.de
    volumes:
      - $DATA/website:/usr/src/app/_site
    environment:
      - URL=https://coli-conc.gbv.de
      - PATHPREFIX=
      - VIRTUAL_HOST=coli-conc.gbv.de
      - VIRTUAL_PATH=/
    restart: unless-stopped

networks:
  default:
    external: true
    name: nginx
