services:
  bartoc-search:
    image: ghcr.io/gbv/bartoc-search:main
    container_name: bartoc-search
    command: ["npm", "run", "start:prod"]
    networks:
      - nginx
      - solr
      - redis
    volumes:
      - $CONFIGS/bartoc-search:/config:ro
      - bartoc-search-data:/usr/src/app/data
    environment:
      - VIRTUAL_PATH=/vocabularies-next/
      - __VITE_ADDITIONAL_SERVER_ALLOWED_HOSTS=.bartoc.org
      - CONFIG_FILE=/config/config.json
      - NODE_ENV=production
      - DATA_DIR=/usr/src/app/data
      - BARTOC_DUMP=https://bartoc.org/data/dumps/latest.ndjson
      - REINDEX=1
      - |
        VIRTUAL_HOST_MULTIPORTS=
          bartoc.org:
            "/vocabularies-next/":
              port: 3883
              dest: "/"
    restart: unless-stopped

volumes:
  bartoc-search-data:

networks:
  nginx:
    external: true
    name: nginx
  solr:
    external: true
    name: solr
  redis:
    external: true
    name: redis