services:
   redis-dev:
    image: redis:7
    ports:
    - "127.0.0.1:6380:6379"
    command: ["redis-server", "--appendonly", "yes", "--save", "60", "1000"]
    volumes:
      - $DATA/redis_data_dev:/data
    restart: unless-stopped

networks:
  default:
    external: true
    name: redis-dev
