services:
  bartoc-dev:
    image: ghcr.io/gbv/bartoc.org:dev
    networks:
      - nginx
      - mongo-dev
    volumes:
      - $CONFIGS/bartoc-dev:/config
      - $DATA/bartoc-dev/dumps:/usr/src/app/bartoc/data/dumps
      - $DATA/bartoc-dev/reports:/usr/src/app/bartoc/data/reports
    environment:
      - BASE_URL=https://dev.bartoc.org/
      - |
        VIRTUAL_HOST_MULTIPORTS=
          dev.bartoc.org:
            "/":
              port: 80
              dest: "/"
            "/api/":
              port: 3000
              dest: "/"
    restart: unless-stopped

networks:
  nginx:
    external: true
    name: nginx
  mongo-dev:
    external: true
    name: mongo-dev
