services:
  solr-dev:
    image: solr:8
    ports:
      - "127.0.0.1:8984:8983"
    volumes:
      - $DATA/solr_data_dev:/var/solr
      - $CONFIGS/solr-dev/terminologies-configset:/configsets/terminologies-configset
    command:
      - solr-precreate
      - terminologies
      - /configsets/terminologies-configset
    restart: unless-stopped

networks:
  default:
    external: true
    name: solr-dev
