services:
  solr:
    image: solr:8
    container_name: solr
    ports:
      - "8983:8983"
    volumes:
      - $DATA/solr_data:/var/solr
      - $CONFIGS/solr/terminologies-configset:/configsets/terminologies-configset
    command:
      - solr-precreate
      - terminologies
      - /configsets/terminologies-configset
    restart: unless-stopped

networks:
  default:
    external: true
    name: solr
